body {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

h1, h2, h3, h4, p{
    margin: 0;
}
.part_of_the_second_section_list{
   width: calc((100% - 72px) / 4);
   padding: 0;
   margin: 0;
}
.header_section{
    border-bottom: 1px solid #e7e9fc;
   
}

.section-title{
    color: var(--white);
    font-size: 56px;
    line-height: 107%;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto 48px auto;
    max-width: 496px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .container{
    display: flex;
    align-items: center;
}
.container{
   width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
}
.header_content{
    display: flex;
    flex-direction: row;
    gap: 332px;
    padding-left: 156px;
}

.header_nav{
    display: flex;
    align-items: center;
}

.navigation_list{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.info{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.section-title-h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.contact_info {
    font-style: normal;
    margin-left: auto;
}

.contact {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact:hover {
    color: #404bbf;
}

.contact:focus {
    color: #404bbf;
}

.second_section_list{
    display: flex;
    gap: 24px;
    line-height: 8px;
}

.second_section_subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
     margin-bottom: 8px;
}
.second_section {
    padding: 120px 0;
}

.visually_hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.second_section .container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;

}
.part_of_the_list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.part_of_the_list:hover {
    color: #404bbf;
}

.part_of_the_list:focus {
    color: #404bbf;
}



.third_section_subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.third_section_title{
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.third_section_content{
    display: flex;
    gap: 24px;
    text-align: center;
}

.section_paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
    margin-bottom: 0;
}

.fourthsectiontitle{
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.our_portfolio_list_chapter{
    width: calc((100% - 48px) / 3);
}

.ourteam_text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.ourteam_text h3{
    margin-bottom: 8px
}
.fourth_sectionsubtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section2-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section3_title {
    line-height: 1.11;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize
}

.section_list_item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.employee_info{
    padding: 32px 0
}

.section_title_h2 {
    font-size: 36px;
    line-height: 111%;
    text-transform: capitalize;
    color: #2e2f42;
}

a {
    color: var(--navy-blue);
    text-decoration: none;
}

.our_portfolio_section{
    padding: 120px 0 120px 0;

}


.our_portfolio_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    color: #4d5ae5;
    margin-right: 76px;
    
}

.logo_part {
    color: #2e2f42;
}


.second_logo_part{
    color: #F4F4FD;
}


.effective_solutions {
    background-color: var(--navy-blue);
    padding: 188px 0;
}


.service_button {
    color: var(--white);
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    height: 56px;
    display: block;
    min-width: 169px;
    margin: 0 auto 0 auto;
}



.service_button:hover {
    background-color: #404BBF
}

.service_button:focus {
    background-color: #404BBF
}

.our_team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our_team li {
    background-color: #FFFFFF;
}

.ourteam .container{
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.footer_chapter {
    background-color: #2E2F42;
    color: var(--cloud);
    padding: 100px 0;
}

.footer_text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #F4F4FD;
    width: 264px;
}
.subtext {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.second_logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
img{
    display: block
}